---
layout: default
---

<div class="home">

	<ul class="post-list">
		{% for post in paginator.posts %}
		<li>
			<header>
				<h2 class="post-link">
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h2>
				<p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
			</header>
			<article class="post-content">
			{{ post.content }}
			</article>
			<footer class="post-footer">
				<div class="social_media">
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ post.url | prepend: site.url }}" data-text="{{ page.title }}" data-via="TheKwarf" data-count="none" data-dnt="true">Tweet</a>
					<div class="g-plusone" data-size="medium" data-annotation="none" data-href="{{ post.url | prepend: site.url }}"></div>
					<div class="g-plus" data-action="share" data-annotation="none" data-href="{{ post.url | prepend: site.url }}"></div>
					<div class="fb-like" data-href="{{ post.url | prepend: site.url }}" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
				</div>

				<a class="post-comments-link" href="{{ post.url | prepend: site.baseurl }}#disqus_thread" data-disqus-identifier="{{ post.id }}">Comments</a>
			</footer>
		</li>
		{% endfor %}
		<li class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
			{% else %}
				<span>&laquo; Prev</span>
			{% endif %}

			{% for page in (1..paginator.total_pages) %}
				{% if page == paginator.page %}
					<em>{{ page }}</em>
				{% elsif page == 1 %}
					<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
				{% else %}
					<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
				{% endif %}
			{% endfor %}

			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
			{% else %}
				<span>Next &raquo;</span>
			{% endif %}
		</li>
	</ul>
</div>
