<main class="landing">
  <section class="presentation">
    <h1>Kwarf</h1>
    <h2>Jimmy Bergström</h2>
    <p>Software Developer</p>
    <p>C# / C++ / Rust</p>
  </section>

  <section class="socials">
    <a href="https://github.com/Kwarf" rel="me" title="GitHub">
      {{ partial "fontawesome.html" "github" }}
      GitHub
    </a>
    <a href="https://www.linkedin.com/in/kwarf/" rel="me" title="LinkedIn">
      {{ partial "fontawesome.html" "linkedin" }}
      LinkedIn
    </a>
    <a href="https://www.youtube.com/@kwarf91" rel="me" title="YouTube">
      {{ partial "fontawesome.html" "youtube" }}
      YouTube
    </a>
    <a href="https://www.facebook.com/thekwarf" rel="me" title="Facebook">
      {{ partial "fontawesome.html" "facebook" }}
      Facebook
    </a>
    <a href="https://fosstodon.org/@kwarf" rel="me" title="Mastodon">
      {{ partial "fontawesome.html" "mastodon" }}
      Mastodon
    </a>
    <a href="https://www.strava.com/athletes/kwarf" rel="me" title="Strava">
      {{ partial "fontawesome.html" "strava" }}
      Strava
    </a>
    <a href="https://last.fm/user/Kwarf" rel="me" title="Last.fm">
      {{ partial "fontawesome.html" "lastfm" }}
      Last.fm
    </a>
  </section>

  <nav class="post-list">
    <h2>
      <a href="/blog/index.xml" title="RSS Feed">{{ partial "fontawesome.html" "rss" }}</a>
      Blog posts
    </h2>
    <ol>
      {{ range .Site.RegularPages.ByDate.Reverse }}
      <li>
        <a href="{{ .Permalink }}">
        <h3>{{ .Title }}</h3>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
        </time>
      </a>
      </li>
      {{ end }}
    </ol>
  </nav>
</main>
