<main class="landing">
  <section class="presentation">
    <h1>Kwarf</h1>
    <h2>Jimmy Bergström</h2>
    <p>Software Developer</p>
    <p>C# / C++ / Rust</p>
  </section>

  <section class="socials">
    <a href="https://www.facebook.com/thekwarf" title="Facebook">
      {{ partial "fontawesome.html" "facebook" }}
    </a>
    <a href="https://github.com/Kwarf" title="GitHub">
      {{ partial "fontawesome.html" "github" }}
    </a>
    <a href="https://fosstodon.org/@kwarf" title="Mastodon">
      {{ partial "fontawesome.html" "mastodon" }}
    </a>
    <a href="https://www.youtube.com/@kwarf91" title="YouTube">
      {{ partial "fontawesome.html" "youtube" }}
    </a>
    <a href="https://www.linkedin.com/in/kwarf/" title="LinkedIn">
      {{ partial "fontawesome.html" "linkedin" }}
    </a>
    <a href="https://www.strava.com/athletes/kwarf" title="Strava">
      {{ partial "fontawesome.html" "strava" }}
    </a>
    <a href="http://last.fm/user/Kwarf" title="Strava">
      {{ partial "fontawesome.html" "lastfm" }}
    </a>
  </section>
</main>
