<main class="landing">
  <section class="presentation">
    <h1>Kwarf</h1>
    <h2>Jimmy Bergström</h2>
    <p>Software Developer</p>
    <p>C# / C++ / Rust</p>
  </section>

  <section class="socials">
    <a href="https://github.com/Kwarf" rel="me" title="GitHub">
      {{ partial "fontawesome.html" "github" }}
      GitHub
    </a>
    <a href="https://www.linkedin.com/in/kwarf/" rel="me" title="LinkedIn">
      {{ partial "fontawesome.html" "linkedin" }}
      LinkedIn
    </a>
    <a href="https://www.youtube.com/@kwarf91" rel="me" title="YouTube">
      {{ partial "fontawesome.html" "youtube" }}
      YouTube
    </a>
    <a href="https://www.facebook.com/thekwarf" rel="me" title="Facebook">
      {{ partial "fontawesome.html" "facebook" }}
      Facebook
    </a>
    <a href="https://fosstodon.org/@kwarf" rel="me" title="Mastodon">
      {{ partial "fontawesome.html" "mastodon" }}
      Mastodon
    </a>
    <a href="https://www.strava.com/athletes/kwarf" rel="me" title="Strava">
      {{ partial "fontawesome.html" "strava" }}
      Strava
    </a>
    <a href="https://last.fm/user/Kwarf" rel="me" title="Last.fm">
      {{ partial "fontawesome.html" "lastfm" }}
      Last.fm
    </a>
  </section>
</main>
